{% extends "base.html.twig" %}
{% block body %}
    <div style="border: 1px black;">
        <h2 style="text-align: center">List of programmes</h2><br>
        <table style="width: 75%; margin: auto">
            <tr>
                <th style="border-bottom: 1px solid grey; padding: 10px">Id</th>
                <th style="border-bottom: 1px solid grey; padding: 10px">Name</th>
                <th style="border-bottom: 1px solid grey; padding: 10px; inline-size: 800px; overflow-wrap: break-word;">Description</th>
            </tr>

            {% for programme in allProgrammes%}
                <tr>
                    <td style="border-left: 1px grey solid; padding: 5px">{{ programme.id }}</td>
                    <td style="border-left: 1px grey solid; padding: 5px">{{ programme.name }}</td>
                    <td style="border-left: 1px grey solid; padding: 5px">{{ programme.description }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
