{% extends "Admin/base.html.twig" %}
{% block body %}
    <br><p style="margin-left: 20px">Hello, {{ app.user.firstName }} {{ app.user.lastName }} you are logged as an administrator</p>
{% endblock %}

