{% extends "base.html.twig" %}
{% block body %}
    <h3 style="text-align: center">Enter your email address if you want to change your password &#128512;</h3><br>

    <div style="font-weight: bold; padding-bottom: 40px; margin-left: 40%">
        {{ form(form) }}
    </div>
{% endblock %}
